<section class="container">
  <h1 class="large text-primary">Sign Up</h1>
  <p class="lead"><i class="fas fa-user"></i> Create Your Account</p>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" formControlName="name" required />
      @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched){
        <div>Name is required</div>
      }
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" formControlName="email" required />
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
        <div>Email is required</div>
      }
    </div>
    <div class="form-group">
        <label for="password">Enter password</label>
        <input type="password" name="password" formControlName="password" />
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
          <div>Password is required</div>
        }
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" />
        @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched){
          <div>Confirm password is required</div>
        }
    </div>
    <input type="submit"  value="Register" />
  </form>
  <p class="my-1">Already have an account? <a href="login.html">Sign In</a></p>
</section>
